{% load static %}
<!DOCTYPE HTML>
<html>
    <head>

    <link rel="stylesheet" href="{% static 'webix/webix.css' %}" type="text/css">
    <script src="{% static 'webix/webix.js' %}" type="text/javascript"></script>
    <script src="{% static 'access/js/login.js' %}" type="text/javascript"></script>

    </head>
    <body>
        <input type="hidden" name="bussiness" value="{{ request.session.BB.BUSSINESS }}">
        <input type="hidden" name="branch" value="{{ request.session.BB.BRANCH }}">
    </body>
</html>
