{% load static %}
<!DOCTYPE HTML>
<html>
    <head>

        <!-- General -->
        <link rel="stylesheet" href="{% static 'webix/webix.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'webix/sidebar.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'webix/index.css' %}" type="text/css">
        <script src="{% static 'webix/webix.js' %}" type="text/javascript"></script>
        <script src="{% static 'webix/sidebar.js' %}" type="text/javascript"></script>
        <script src="{% static 'webix/side.js' %}" type="text/javascript"></script>
        <!-- App Specific -->
    <script src="{% static 'access/js/user.js' %}" type="text/javascript"></script>
    <style type="text/css">
            .select_one{
                float:right;
                line-height: 28px;
            }
        </style>
    </head>
    <body>
        <input type="hidden" name="bussiness" value="{{ request.session.BB.BUSSINESS }}">
        <input type="hidden" name="branch" value="{{ request.session.BB.BRANCH }}">
    </body>
</html>
