{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
    <!-- General -->
    <link rel="stylesheet" href="{% static 'webix/webix.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'webix/sidebar.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'webix/index.css' %}" type="text/css">
    <script src="{% static 'webix/webix.js' %}" type="text/javascript"></script>
    <script src="{% static 'webix/sidebar.js' %}" type="text/javascript"></script>
    <script src="{% static 'webix/side.js' %}" type="text/javascript"></script>
    <!-- App Specific -->
    <script src="{% static 'pos/js/sales/cash/pos_datatable.js' %}" type="text/javascript"></script>
    <script src="{% static 'pos/js/sales/cash/get_product.js' %}" type="text/javascript"></script>
    <script src="{% static 'pos/js/sales/cash/pos_buttons.js' %}" type="text/javascript"></script>
    <script src="{% static 'pos/js/sales/cash/pos.js' %}" type="text/javascript"></script>

    </head>
    <body>

    </body>
</html>
