{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- General -->
        <link rel="stylesheet" href="{% static 'webix/webix.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'webix/sidebar.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'webix/index.css' %}" type="text/css">
        <script src="{% static 'webix/webix.js' %}" type="text/javascript"></script>
        <script src="{% static 'webix/gh-GH.js' %}" type="text/javascript"></script>
        <script src="{% static 'webix/sidebar.js' %}" type="text/javascript"></script>
        <script src="{% static 'webix/side.js' %}" type="text/javascript"></script>
        <!-- App Specific -->
        <script src="{% static 'discount/js/discount.js' %}" type="text/javascript"></script>
    </head>
    <body>

    </body>
</html>
