{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
    <!-- General -->
    <link rel="stylesheet" href="{% static 'webix/webix.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'webix/sidebar.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'webix/index.css' %}" type="text/css">
    <script src="{% static 'webix/webix.js' %}" type="text/javascript"></script>
    <script src="{% static 'webix/sidebar.js' %}" type="text/javascript"></script>
    <script src="{% static 'webix/side.js' %}" type="text/javascript"></script>
    <!-- App Specific -->
    <script src="{% static 'inventory/js/product_category.js' %}" type="text/javascript"></script>
    <script src="{% static 'inventory/js/product.js' %}" type="text/javascript"></script>
    <script src="{% static 'inventory/js/history.js' %}" type="text/javascript"></script>
    <script src="{% static 'inventory/js/history_dt.js' %}" type="text/javascript"></script>
    <script src="{% static 'inventory/js/inventory.js' %}" type="text/javascript"></script>

    <style>
		.app_button button{
			padding:0;
			text-align: center;
		}

	</style>
    </head>
    <body>

    </body>
</html>
